<div class="circular-progress-outer" role="button" aria-label="{{circularProgressShowPlay() ? translation.WEBMOB_DW_TB_start_button:translation.WEBMOB_DW_TB_pause_button}}">
  <div class="circular-progress-inner" ng-class="{no_click: circularProgressDisable()}">
      <div class="circleBackground" ng-class="{no_click:circularProgressDisable()}">
          <svg viewBox="0 0 276 276" class="innerCircle_play_pause play_pause_icon" ng-class="{innerCircle_play_disabled:circularProgressDisable()}" ng-show="circularProgressShowPlay()"  ng-click="startCircularProgress()">
              <use xlink:href="common/img/ic_dp_play.svg#Layer_1"></use>
          </svg>
          <svg viewBox="0 0 276 276" class="innerCircle_play_pause play_pause_icon" ng-class="{innerCircle_pause_disabled:circularProgressDisable()}" ng-show="circularProgressShowPause()"  ng-click="startCircularProgress()">
              <use xlink:href="common/img/ic_dp_pause.svg#Layer_1"></use>
          </svg>
      </div>
  </div>          
  <div id="round_progress_container" class="progress-wrapper" round-progress-loaded  ng-show='Device.Operation.state !== "Ready"'>

      <div
          round-progress
          max="max"
          current="current"
          color="{{ circularProgressGetProgColor()}}"
          bgcolor="{{ bgColor}}"
          radius="{{ radius}}"
          semi="false"
          rounded=""
          stroke="{{ stroke}}"
          clockwise="clockwise"
          iterations="{{ iterations}}"
          diameter ="{{diameter}}"
          animation="{{ currentAnimation}}">
          <svg>
               <linearGradient id="gradient" gradientUnits="userSpaceOnUse" x1="50%" x2="50%" y1="100%" y2="0%">
                  <stop offset="5%"  stop-color="rgb(0,171,241)"/>
                  <stop offset="95%" stop-color="rgb(0,224,232)"/>
              </linearGradient>
          </svg>    
      </div>
  </div>    
</div>