<!--country selection settings start -->
<div class="searchInputDiv">  
    <div class=" search-box-bottom-border">
        <svg viewBox="0 0 96 96" class="clearSearchText commonSelectedBlueIcon" ng-if="checkCountrySearchEmpty()">  
        <use xlink:href="common/img/ws_sb_ic_search.svg#Layer_1"></use>
        </svg>                  
        <input id="countrySearchId" class="ap-search-box" ng-model="countryToBeSearched" ng-keyup="searchValueUpdated()" type="" 
               ng-trim="false">

        <svg viewBox="0 0 96 96" class="clearSearchText commonSelectedBlueIcon" ng-if="!checkCountrySearchEmpty()" ng-click="clearSearchText()">
        <use xlink:href="common/img/ws_sb_ic_delete.svg#Layer_1"></use>
        </svg>    
    </div>
</div>

<ul class="ap-search-list-property" ng-class="{'ap-search-list-property-V2': isAppV2}">
    <li id="{{$index}}" class="ap-search-list locationItem waves-effect press-basic-radio-btn" ng-repeat="key in mCountryList track by $index" ng-click="setCountry(key);" country-list-item-loaded aria-label="{{hightlightSearchText(key, countryToBeSearched)}},{{selectedWeatherLocation === key?translationCommon.WEBMOB_common_TB_selected:translationCommon.WEBMOB_common_TB_not_selected}}" role="button">
        <img class="radio-button-off " ng-class="{'radio-button-on radio-btn-offset': selectedCountryData === key , ' radio-btn-offset' : selectedCountry !== key}" >                    
        <span class="listSearchTxt" ng-bind-html="hightlightSearchText(key)" ng-class="{'listSearchTxtSelected': selectedCountryData === key}"></span>
        <span class="listSearchBottomSeprator"> </span>
    </li>
    <span class="noSearchedDataTxt Regular" ng-if="noSearchedData" ng-bind-html="translationCommon.CONMOB_no_searched_data"></span>
</ul>
