<div ng-show="energyMonitorPage" style="width: 100%; height:100%"> 
    <div class='as-parentCustom' ng-if='!(deviceType == "Dryer" && NoEnergyKW_396 === false)'>
        <p class="as-tab-dimen_custom Regular upperCase" aria-label="{{translation.WEBMOB_common_energy_monitor_day}}{{translationCommon.WEBMOB_common_TB_tab_value1_of_value2.replace('%1$d', '1').replace('%2$d', '3')}}" 
           ng-click ="showDailyData()" ng-class="{'as-tab-background-blue': enrgyMonitorTab == 'day', 'as-tab-dimen_custom_white': enrgyMonitorTab == 'day'}">{{translation.WEBMOB_common_energy_monitor_day| uppercase}}</p>
        <div class ='as-tab-border'></div>
        <p class='as-tab-dimen_custom Regular upperCase' ng-click="showWeeklyData()" aria-label="{{translation.WEBMOB_common_energy_monitor_week}}{{translationCommon.WEBMOB_common_TB_tab_value1_of_value2.replace('%1$d', '2').replace('%2$d', '3')}}" 
           ng-class="{'as-tab-background-blue': enrgyMonitorTab == 'week', 'as-tab-dimen_custom_white': enrgyMonitorTab == 'week'}">{{translation.WEBMOB_common_energy_monitor_week| uppercase}}</p>
        <div class ='as-tab-border'></div>
        <p class='as-tab-dimen_custom  Regular upperCase' ng-click="showMonthlyData()" aria-label="{{translation.WEBMOB_common_energy_monitor_month}}{{translationCommon.WEBMOB_common_TB_tab_value1_of_value2.replace('%1$d', '3').replace('%2$d', '3')}}"
           ng-class="{'as-tab-background-blue': enrgyMonitorTab == 'month', 'as-tab-dimen_custom_white': enrgyMonitorTab == 'month'}">{{translation.WEBMOB_common_energy_monitor_month| uppercase}}</p>

    </div>
    <div class='as-parentCustom' ng-if='(deviceType == "Dryer" && NoEnergyKW_396 === false)'>
        <p class="as-tab-dimen_custom as-tab-dimen_custom_width_change Regular upperCase" aria-label="{{translation.WEBMOB_common_energy_monitor_day}}{{translationCommon.WEBMOB_common_TB_tab_value1_of_value2.replace('%1$d', '1').replace('%2$d', '3')}}" 
           ng-click ="showDailyData()" ng-class="{'as-tab-background-blue': enrgyMonitorTab == 'day', 'as-tab-dimen_custom_white': enrgyMonitorTab == 'day'}">{{translation.WEBMOB_common_energy_monitor_day| uppercase}}</p>
        <div class ='as-tab-border'></div>
        <p class='as-tab-dimen_custom as-tab-dimen_custom_width_change Regular upperCase' ng-click="showWeeklyData()" aria-label="{{translation.WEBMOB_common_energy_monitor_week}}{{translationCommon.WEBMOB_common_TB_tab_value1_of_value2.replace('%1$d', '2').replace('%2$d', '3')}}" 
           ng-class="{'as-tab-background-blue': enrgyMonitorTab == 'week', 'as-tab-dimen_custom_white': enrgyMonitorTab == 'week'}">{{translation.WEBMOB_common_energy_monitor_week| uppercase}}</p>
        <div class ='as-tab-border'></div>
        <p class='as-tab-dimen_custom as-tab-dimen_custom_width_change  Regular upperCase' ng-click="showMonthlyData()" aria-label="{{translation.WEBMOB_common_energy_monitor_month}}{{translationCommon.WEBMOB_common_TB_tab_value1_of_value2.replace('%1$d', '3').replace('%2$d', '3')}}"
           ng-class="{'as-tab-background-blue': enrgyMonitorTab == 'month', 'as-tab-dimen_custom_white': enrgyMonitorTab == 'month'}">{{translation.WEBMOB_common_energy_monitor_month| uppercase}}</p>
        <div class ='as-tab-border'></div>
        <p class='as-tab-dimen_custom as-tab-dimen_custom_width_change  Regular upperCase' ng-click="showYearlyData()" aria-label="{{translation.WEBMOB_common_energy_monitor_year}}{{translationCommon.WEBMOB_common_TB_tab_value1_of_value2.replace('%1$d', '3').replace('%2$d', '3')}}"
           ng-class="{'as-tab-background-blue': enrgyMonitorTab == 'year', 'as-tab-dimen_custom_white': enrgyMonitorTab == 'year'}">{{translation.WEBMOB_common_energy_monitor_year| uppercase}}</p>
    </div>
        <!--    <div class="arrowContainer">
                <div class="imageContainerOne">
                    <img id="leftImg" class="em_left_arrow" ng-click="showPreviousDaysData()"/>
                </div> 
                <div class ="dateRange BoldCondensed" id ="dateID">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                <div class="imageContainerTwo">
                    <img id="rightImg" class="em_right_arrow" ng-click="showNextDaysData()"/>   
                </div>
            </div>-->
        <div ng-show="no_page !== true || deviceType !== 'Dryer' ">
            <div class="arrowContainer">
                <img ng-hide="enrgyMonitorTab == 'year'"id="leftImg" class="em_left_arrow" ng-click="showPreviousDaysData()" role="button" alt="{{translationCommon.WEBMOB_common_TB_previous}}"/>        
                <p class ="dateRange BoldCondensed" id ="dateID" ng-click="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>   
                <!--<img class="TOAHInfoIcon meter_date_info" src="common/img/ic_dp_ac_info.png" alt="{{translationCommon.WEBMOB_common_TB_info}}" role="button"/>-->
                <img  ng-hide="enrgyMonitorTab == 'year'" id="rightImg" class="em_right_arrow" ng-click="showNextDaysData()" role="button" alt="{{translationCommon.WEBMOB_common_TB_next}}"/>         
                <p ng-if="enrgyMonitorTab == 'month'"class ="dateRangePeriod BoldCondensed" id ="monthDays"></p>
            </div>

            <div class="meter_date_container" ng-if="deviceType === 'FAC' && enrgyMonitorTab == 'month'" ng-click="showMeterDateSettingPopup()">
                <div class="meter_date_text Light" ng-bind="getMeterDateText()"></div>
                <img class="TOAHInfoIcon meter_date_info" src="common/img/ic_dp_ac_info.png" alt="{{translationCommon.WEBMOB_common_TB_info}}" role="button" style="margin-top: 0.2rem"/>
                <!--        <svg viewBox="0 0 94 94" class="TOAHInfoIcon meter_date_info">
                            <use xlink:href="common/img/main_ac_ic_info.svg#Layer_1"></use>
                        </svg>-->
            </div>

            <div class="legendHelper" id="powerUnit" ng-class='{invisible:(deviceType === "Refrigerator" || deviceType === "Washer" || deviceType === "Dryer" || deviceType === "Dishwasher")}'> 
                <div class="textWh Regular" id="kwhIdOne" ng-click="">kWh</div>
                <div class="rectangle"></div>
            </div>
            <div class="totalArea">
                <div class="verticalPlacHolders">
                    <div class="wh Regular" id="kwhIdTwo" ng-show='(deviceType !== "Refrigerator" && deviceType !== "Washer" && deviceType !== "Dryer" && deviceType !== "Dishwasher") || (deviceType === "Dryer" && enrgyMonitorTab == "year")'>kWh</div>
                    <div class="legends Regular"  id="v1" ng-class='{invisible:(deviceType === "Dishwasher")}'>{{getYAxisValue(1)}}</div>
                    <div class="legends Regular"  id="v2" ng-class='{invisible:(deviceType === "Refrigerator" || deviceType === "Washer" || deviceType === "Dryer" || deviceType === "Dishwasher")}'>{{getYAxisValue(0.8)}}</div>
                    <div class="legends Regular"  id="v3" ng-class='{invisible:(deviceType === "Refrigerator" || deviceType === "Washer" || deviceType === "Dryer" || deviceType === "Dishwasher")}'>{{getYAxisValue(0.6)}}</div>
                    <div class="legends Regular"  id="v4" ng-class='{invisible:(deviceType === "Refrigerator" || deviceType === "Washer" || deviceType === "Dryer" || deviceType === "Dishwasher")}'>{{getYAxisValue(0.4)}}</div>
                    <div class="legends Regular"  id="v5" ng-class='{invisible:(deviceType === "Refrigerator" || deviceType === "Washer" || deviceType === "Dryer" || deviceType === "Dishwasher")}'>{{getYAxisValue(0.2)}}</div>
                    <div class="legends Regular"  id="v6" ng-class='{invisible:(deviceType === "Refrigerator" || deviceType === "Washer" || deviceType === "Dryer" || deviceType === "Dishwasher")}'>{{getYAxisValue(0)}}</div>
                </div>
                <div id="graphArea">
                    <div class = "commoncss_energy_one commoncss_bottom_one"></div>
                    <div class = "commoncss_energy_one commoncss_bottom_two" ng-class="{'commoncss_bottom_two_iphone': applePhone}"></div>
                    <div class = "commoncss_energy_one commoncss_bottom_three" ng-class="{'commoncss_bottom_three_iphone': applePhone}"></div>
                    <div class = "commoncss_energy_one commoncss_bottom_four" ng-class="{'commoncss_bottom_four_iphone': applePhone}"></div>
                    <div class = "commoncss_energy_one commoncss_bottom_five" ng-class="{'commoncss_bottom_five_iphone': applePhone}"></div>
                    <div class = "commoncss_energy_one commoncss_bottom_six" ng-class="{'commoncss_bottom_six_iphone': applePhone}"></div>

                    <div class="bubble commoncss_left_one" id="bubbleOne" ng-show='(deviceType !== "Refrigerator" && deviceType !== "Washer" && deviceType !== "Dryer" && deviceType !== "Dishwasher")'>
                        <span class="toolTextCol" id="valOne"></span>                              
                        <div class="pointer" id="pointer1"></div>		
                    </div>
                    <div class="bubble commoncss_left_two" id="bubbleTwo" ng-show='(deviceType !== "Refrigerator" && deviceType !== "Washer" && deviceType !== "Dryer" && deviceType !== "Dishwasher")'>
                        <span class="toolTextCol" id="valTwo"></span>                              
                        <div class="pointer" id="pointer2"></div>

                    </div>
                    <div class="bubble commoncss_left_three" id="bubbleThree" ng-show='(deviceType !== "Refrigerator" && deviceType !== "Washer" && deviceType !== "Dryer" && deviceType !== "Dishwasher")'>
                        <span class="toolTextCol" id="valThree"></span>                              
                        <div class="pointer" id="pointer3"></div>

                    </div>
                    <div class="bubble commoncss_left_four" id="bubbleFour" ng-show='(deviceType !== "Refrigerator" && deviceType !== "Washer" && deviceType !== "Dryer" && deviceType !== "Dishwasher")'>
                        <span class="toolTextCol" id="valFour"></span>                              
                        <div class="pointer" id="pointer4"></div>		
                    </div>

                    <div class="bars">
                        <div class="bar commoncss_left_bar_one" id="x1"><div class="b2"></div></div>
                        <div class="bar commoncss_left_bar_two" id="x2"><div class="b3"></div></div>                            
                        <div class="bar commoncss_left_bar_three" id="x3"><div class="b4"></div></div>  
                        <div class="bar commoncss_left_bar_four" id="x4"><div class="b5"></div></div>
                    </div>
                    <div class="canvasStyle" >
                        <canvas id="myCanvas" class="canvasStyle" ng-show='enrgyMonitorTab == "year"'>
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="placeHolders" ng-hide='enrgyMonitorTab === "year"'><ol class="graphDates"><li class="hLabel2 Regular" ng-class="{hLabel2KR:isKoreanGraph}"  id="h1"></li><li class="hLabel2 Regular" ng-class="{hLabel2KR:isKoreanGraph}"  id="h2"></li><li class="hLabel2 Regular" ng-class="{hLabel2KR:isKoreanGraph}"  id="h3"></li><li class="hLabel2 Regular" ng-class="{hLabel2KR:isKoreanGraph}"  id="h4"></li></ol><div class="hLabel2 Regular" ng-show='(deviceType == "Refrigerator" || deviceType == "Washer" || deviceType == "Dryer" || deviceType == "Dishwasher" || deviceType == "FAC")' ng-bind="'(' + translation.WEBMOB_common_energy_monitor_unit_date + ')'"></div></div>
            <div class="placeHoldersYearIncluded" ng-show="enrgyMonitorTab === 'year'">
                <ol class="graphDates">
                    <li class="hLabel2YearIncludedFirst Regular" ng-class="{hLabel2KR:isKoreanGraph}"  id="yearH1"></li>
                    <li class="hLabel2YearIncluded Regular" ng-class="{hLabel2KR:isKoreanGraph}"  id="yearH2"></li>
                    <li class="hLabel2YearIncluded datefont Regular" ng-bind="'(' + translation.WEBMOB_common_energy_monitor_unit_date + ')'"></li>
                    <!--            <li class="hLabel2YearIncludedDate Regular" ng-class="{hLabel2KR:isKoreanGraph}">(Date)</li>-->
                </ol>
            </div>
        </div>
        <div class="nodDataContainer" ng-show= "no_page === true && deviceType == 'Dryer'">
            <div class="nodDataText Regular">
                <p style="margin: 0" ng-bind-html="translation.WEBMOB_common_energy_monitor_no_data_year_desc"></p>
            </div>     
        </div>
</div>
