<!-- Error Page starts -->
<div class="common-error-page Regular" ng-if="errorPageObj.errorPageshow">
    <svg viewBox="0 0 348 348" class="error-icon-container">
        <use xlink:href="{{errorPageObj.errorPageIconPath}}"></use>
    </svg>    
    <div class="error-title" ng-bind-html="errorPageObj.errorPageTitleText"></div>
    <div class="error-code" ng-bind-html="errorPageObj.errorPageErrorCode"></div>
    <p class="error-description" ng-bind-html="errorPageObj.errorPageDescription"></p>
    <div class="common-bottom-button" ng-click="errorPageObj.errorPageBtnClickHandler(errorPageObj.onClickAction)" ng-bind-html="errorPageObj.errorPageButtonText"></div>
</div>
<div class="common-error-page Regular" ng-show="errorPageObj.noErrorPageShow">
    <p class="no-error-text center Regular" ng-bind-html="errorPageObj.noErrorText"></p>
</div>
<!-- Error Page ends -->
