
<div class="meterPage" ng-click="onMeterDateUpdate(false)">
    <div class="meterPageDiv" ng-click="$event.stopPropagation()">
        <div class="targetUsagePopupTitle meterDatePopupTitle">
            <p class="targetUsagePopupTitleText Bold">{{translation.WEBMOB_fac_options_energy_meter_date}}</p>
            <p class="targetUsagePopupMinMax Regular">{{translation.WEBMOB_fac_options_energy_meter_date_desc}}</p>
        </div>
        <div class="meterPageCancelSave">
            <div class="tuUpDownArrowDiv" ng-touchstart="increaseMeterDate(true)" st-hold="increaseMeterDateContinuously()" st-release="stopLongPressEvent()">
                <img class="tu-up-arrow"/>
            </div>
            <div class="tu-text-center-div leftMarginOffset">
                <span class="tu_big_text noBackground Regular md_big_text">{{tempMeterDate}}</span><span class="tu_text_unit Regular">&nbsp;{{translation.WEBMOB_common_energy_monitor_day}}</span>
            </div>
            <div class="tuUpDownArrowDiv" ng-touchstart="increaseMeterDate(false)" st-hold="decreaseMeterDateContinuously()" st-release="stopLongPressEvent()">
                <img class="tu-down-arrow"/>
            </div>
        </div>
        <div class="targetUsagePopupBottom">
            <div class="as-option-right">
                <p class="as-cancel-text Regular" ng-click="onMeterDateUpdate(false)">{{translation.WEBMOB_common_cancel_capital}}</p>
                <p class="as-save-text Regular" ng-click="onMeterDateUpdate(true)">{{translation.WEBMOB_common_save_capital}}</p>
            </div>
        </div>  
    </div>
</div>
