<div class="schedule-list-item-container bg_white" ng-show="scheduleListPage">
    <div class="scheduleItem" ng-show="scheduleDataAvailable" ng-repeat='act in Actions' >
        <div class="schedule-list-left-item" ng-click="addSchedule(act)" aria-labelledby="tb_id0_{{$index}} tb_id1_{{$index}} tb_id2_{{$index}} tb_id3_{{$index}}" role="button">
            <p id="tb_id0_{{$index}}" class="turnOnOffText BoldCondensed">{{act.Actuators[0].Operation.power == 'On'? translation.WEBMOB_common_schedule_turn_on : translation.WEBMOB_common_schedule_turn_off}}</p>
            <div class="parentScheduleTime" id="tb_id1_{{$index}}">
                <p class="timeConvention timeConventionKR Regular" ng-show="selectedLanguage.toUpperCase().indexOf('KO') !== -1" ng-bind="act.timeConvention === 'AM' ? translation.WEBMOB_common_am : translation.WEBMOB_common_pm"></p>
                <p class="scheduleTime Light" ng-class="{'scheduleTimeKR': selectedLanguage.toUpperCase().indexOf('KO') !== -1}">{{act.newStartTime}}</p>
                <p class="timeConvention Regular" ng-show="selectedLanguage.toUpperCase().indexOf('KO') === -1">{{act.timeConvention}}</p>
            </div>                        
            <div id="tb_id2_{{$index}}" class="day Regular">{{getWeatherDayList(translation, act)}}</div> 
            <div id="tb_id3_{{$index}}" class="repeatWeekly Regular" ng-if="!(act.disposable)">{{translation.WEBMOB_common_schedule_repeat_weekly}}</div> 
        </div>
        <div class="schedule-list-right-item" ng-click="removeItemFromSchedule(act)">
<!--            <svg viewBox="0 0 64 64" class="schedule-list-close-item removeIcon">
                <use xlink:href="common/img/main_sc_deletd.svg#Layer_1"></use>
            </svg>-->
            <img class="schedule-list-close-item removeIcon" ng-click="removeItemFromSchedule(act)" alt="{{translationCommon.WEBMOB_common_TB_close}}" role="button"/>
        </div>
    </div>
    <div class="emptyWindItem" ng-if="scheduleDataAvailable">&nbsp;</div>
    <div ng-if="!scheduleDataAvailable" ng-click="">
        <span class="noScheduleItem" ng-bind-html="translation.WEBMOB_common_schedule_aircon_notice"/>    
    </div>
</div>
