<!-- Main loading screen start -->
<div ng-include="'common/views/splash.html'" ng-hide="mainLoadingScreen"></div> 
<!-- Main loading screen end -->

<!-- Loading bar Start-->
<div class="loading-bar" ng-if="loadingBar || diagnosisStart === 'Run'">
    <div class="loadingAnim"></div>
</div>
<!-- Loading bar End -->

<!-- Connection failure popup start -->
<div ng-class="BottomPopupDimBackgroundDiv" ng-show="showConnFailurePopup" class="higher-z-index">
    <div class="custPopupDiv" ng-click="$event.stopPropagation()">
        <div class="custPopupTitle">
            <p class="custPopupTitleText Bold" ng-bind-html="translation.WEBMOB_common_connection_failure"></p>
        </div>
        <p class="custPopupText Regular" ng-bind-html="translation.WEBMOB_common_check_power_and_network"></p>
        <div class="custokcanceldiv">
            <p class="custOk Regular" ng-click="closeApp()" >{{translation.WEBMOB_common_ok}}</p>
            <p class="custCancel Regular" id="connFailCancel">{{translation.WEBMOB_common_cancel}}</p>
        </div>
    </div>
</div>
<!-- Connection failure end -->

<!-- Module information popup start -->
<div ng-class="BottomPopupDimBackgroundDiv" ng-show="showModuleInfoPopup">
    <div class="custPopupDiv" ng-click="$event.stopPropagation()">
        <div class="custPopupTitle">
            <p class="custPopupTitleText Bold" ng-bind-html="translation.WEBMOB_common_version"></p>
        </div>
        <p class="custPopupText Regular" ng-bind-html="moduleInfoText"></p>
        <div class="custokcanceldiv">
            <p class="custOk Regular" ng-click="moduleInfoOk()" >{{translation.WEBMOB_common_ok}}</p>
            <!--<p class="custCancel Regular" id="moduleInfoCancelID">{{translation.WEBMOB_common_cancel}}</p>-->
        </div>
    </div>
</div>
<!-- Module information popup end -->

<!-- Country Selection popup start -->
<div class="fullscreenpopupCountrySelection" id="countrySelectionPopupID" ng-show="countrySelectionPopupVisible">
</div>
<div class="custPopupDivCountrySelection" id="countrySelectionPopupID" ng-click="$event.stopPropagation()" ng-show="countrySelectionPopupVisible">
    <div id="selectLanguageID" class="custPopupTitleCountrySelection custPopupTitleTextCountrySelection Bold">
        {{translation.WEBMOB_common_select_language}}
    </div>
    <div class="countrySelectionItem left" ng-class="{'countrySelectionItemFirst': ($index === 0)}" ng-click="onCountrySelected($index)" ng-repeat="country in countryToSelect track by $index">
        <span ng-class="{'radio_off_countrySelection': (countrySelectedIndex !== $index) , 'radio_on_countrySelection': (countrySelectedIndex === $index)}">
            <span class="radio_on_inner" ng-if="(countrySelectedIndex === $index)"></span>
        </span>            
        <div class="countrySelectionItemName" ng-class="{'checkBoxSelectedItemTextColor':($index === countrySelectedIndex)}">
            <p class="marginZero"
               resize-text 
               rt-target-pct="0.6" 
               rt-font-class="Regular" 
               rt-multiline-cls="bottom_item_singleline_twoline"></p>
            {{country.Country}}
        </div>
    </div>
    <div class="custokcanceldiv">
        <p id="okButtonID" class="custOk Regular" ng-click="onCountrySelectedOkClicked(true)" id="popupok" ng-bind-html="translation.WEBMOB_common_ok"></p>
        <p id="cancelButtonID" class="custCancel Regular" ng-click="onCountrySelectedOkClicked(false)" id="popupcancel" ng-bind-html="translation.WEBMOB_common_cancel_capital"></p>
    </div>
</div>
<!-- Country Selection popup end -->
        
<!-- Toast notification -->
<toaster-container toaster-options="{'limit':1,'time-out': 1500, 'close-button':false, 'animation-class': 'toast-bottom-center', 'prevent-duplicates' : true}" ng-click=""></toaster-container>

