.angular-range-slider {
    display: inline-block;
    position: relative;
    height: 0.1rem; 
    width: 16.2rem; 
    margin: 0.31rem 0.06rem 0.31rem 0.06rem; 
    vertical-align: middle; 
    margin-left: 0.85rem;      
    margin-right: 0.85rem;
}
.angular-range-slider div {
    white-space: nowrap;
    position: absolute; 
}
.angular-range-slider div.bar {
    width: 16.2rem; 
    height: 0.1rem; 
    background: #bbbbbb;
    margin-top: 1.9rem;
    z-index: 0;
    padding: 0 !important;
    display:block !important;
    border:none !important;
    border-bottom: none !important;
    border-top: none !important;
}
.angular-range-slider div.bar .selection {
    height: 0.1rem; 
    background: #3695dd; 
/*    margin-top: -0.01rem;*/
}
.angular-range-slider div.handle {
    box-sizing: content-box;
    z-index: 99;
    cursor: pointer;
    width: .6rem; 
    height: .6rem; 
    /*top: 1.68rem;*/ 
    top: 1.18rem;
    border: .5rem solid transparent;
    border-radius: 50%;
    -webkit-transition: all 500ms cubic-bezier(0.950, 0.050, 0.795, 0.035);
    -webkit-transform: scale(1);    
    transition: all 500ms cubic-bezier(0.950, 0.050, 0.795, 0.035);
    transform: scale(1);
    background-color: #3695dd;
    -webkit-transition: background-color 200ms linear;    
    transition: background-color 200ms linear;
    background-clip: padding-box;
    margin-left: -0.5rem;
}

.change-pos{
    margin-left: 1.8rem;
    margin-top: -2.75rem;
}

#volumeslider .angular-range-slider div.bubble{
    display: none;
}

#volumeslider .angular-range-slider div.bar{
    width: 14.2rem;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
    .angular-range-slider div.handle {
        cursor: pointer;
        width: .6rem;
        height: .6rem;
        /*top: 1.68rem;*/
        top: 1.18rem;
        background-color: white;
        /*border: 0.06rem solid rgb(54,149,221);*/
        border: .5rem solid transparent;
        border-radius: 50%;
            -webkit-transition: all 500ms cubic-bezier(0.950, 0.050, 0.795, 0.035);
    -webkit-transform: scale(1);    
    transition: all 500ms cubic-bezier(0.950, 0.050, 0.795, 0.035);
    transform: scale(1);
    background-color: rgb(48, 191, 249);
    -webkit-transition: background-color 200ms linear;    
    transition: background-color 200ms linear;
    background-clip: padding-box;
    margin-left: -0.5rem;    
    }
}
.angular-range-slider div.handle.active {
    -webkit-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -webkit-transform: scale(1.25);    
    transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transform: scale(1.25);
     /*background-color: gainsboro;*/
    -webkit-transition: background-color 200ms linear;    
    transition: background-color 200ms linear;
    /*width: 1.35rem; 
    height: 1.35rem; */
    /*top: 1.61rem;*/
    top: 1.11rem;
    }

.angular-range-slider div.bubble {
    /*display: none;*/
    background: none;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    cursor: default;
    top: 0.01rem; 
    padding: 0.0125rem 0.0375rem 0.0125rem 0.0375rem; 
    font-size: 1.15rem; 
    font-family: sans-serif;
    color: #3695dd;
    line-height: 0.2rem !important;	
}
/*.angular-range-slider div.bubble.active {
    display: block; 
    background: none;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}*/
.angular-range-slider div.bubble.limit {
    display: none;
    color: #3695dd; 
    text-align: center;
}

.min-font {
    font-size: .65rem;
    top: -0.37rem;
    position: relative;
    line-height: 0.5rem;
}
/*# sourceMappingURL=angular-range-slider.css.map */